In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data=pd.read_csv("Exploring_Dataset.csv")
data

,Unnamed: 0,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_in_year,bmi,smoke_alco
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.357290,21.967120,not any one
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.381246,34.927679,not any one
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,51.627652,23.507805,not any one
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.249144,28.710479,not any one
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,47.841205,23.011177,not any one
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68167,69995,19240,2,168,76.0,120,80,1,1,1,0,1,0,52.676249,26.927438,smoke & no alcohol
68168,69996,22601,1,158,126.0,140,90,2,2,0,0,1,1,61.878166,50.472681,not any one
68169,69997,19066,2,183,105.0,180,90,3,1,0,1,0,1,52.199863,31.353579,no smoke & alcohol
68170,69998,22431,1,163,72.0,135,80,1,2,0,0,0,1,61.412731,27.099251,not any one
68171,69999,20540,1,170,72.0,120,80,2,1,0,0,1,0,56.235455,24.913495,not any one

In [7]:
data.shape

(68172, 16)

In [9]:
from sklearn.model_selection import train_test_split

In [11]:
x=data.drop(["age","cardio","Unnamed: 0",'smoke_alco'],axis=1)
y=data["cardio"]

## split data into train and test

In [14]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.2,random_state=42)

In [16]:
print(x_train.shape)
print(x_test.shape)

(54537, 12)
(13635, 12)

In [18]:
from sklearn.preprocessing import StandardScaler

## strndarize apply on input data

In [33]:
scaler=StandardScaler()
x_train_scaler=scaler.fit_transform(x_train)
x_test_scaler = scaler.transform(x_test)

## convert output into probability between range 0 to 1,enabl binary classifcation

In [36]:
def sigmoid(z):
    return 1/(1+np.exp(-z))

In [38]:
### sigmoid formula->z=XW+b

In [40]:
def compute_cost(y,y_pred):
    m=len(y)
    #formula=−1/m∑[ylog(y^)+(1−y)log(1−y^)]
    cost=-(1/m)*np.sum(
        y*np.log(y_pred+1e-9)+(1 - y) * np.log(1 - y_pred + 1e-9) #log0 math error then use 1e-9
    )
    return cost

In [42]:
def model_train(x,y,lr,itretaion):
    m, n = x_train_scaler.shape   # m->rows, n->columns
    w = np.zeros(n)               # for each column create weight
    b = 0 
    y=y.values
    for i in range(itretaion):
        z=np.dot(x,w)+b
        y_pred=sigmoid(z)
        
        dw = (1/m) * np.dot(x.T, (y_pred - y))
        db = (1/m) * np.sum(y_pred - y)

        w=w-lr*dw
        b=b-lr*db

        if i%100==0:
            cost=compute_cost(y,y_pred)
            # print(cost)
    return w, b

In [44]:
w,b=model_train( 
    x_train_scaler,
    y_train, 
    lr=0.1,
    itretaion=20000 )

In [45]:
def predict(x, w, b):
    probs = sigmoid(np.dot(x, w) + b)
    return (probs >= 0.5).astype(int)

In [46]:
y_test_pred = predict(x_test_scaler, w, b)
accuracy = np.mean(y_test_pred == y_test)
print("Test Accuracy:", accuracy)

Test Accuracy: 0.7224055738907224

In [47]:
x_train.to_csv('x_train.csv')
x_test.to_csv('x_test.csv')
y_train.to_csv('y_train.csv')
y_test.to_csv('y_test.csv')

In [48]:
import joblib

In [49]:
# model = {
#     "weights": w,
#     "bias": b
# }
# joblib.dump(
#     {
#         "model": model,
#         "scaler": scaler,
#         "features": x.columns.tolist()
#     },
#     "cardio_bundle.pkl"
# )

# print("✅ Model, scaler, and features saved as cardio_bundle.pkl")

✅ Model, scaler, and features saved as cardio_bundle.pkl

In [50]:
# joblib.dump(model, "model.pkl")
# joblib.dump(scaler, "scaler.pkl")

['scaler.pkl']